.Log {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.Log form input {
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid orange !important;
  padding: 15px 200px 12px 10px;
}
form .login {
  font-weight: bold;
  background-color: transparent;
  border: 4px solid rgb(255, 255, 255) !important;
  color: var(--primary-text-color);
  padding: 5px 10px !important;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
}
.Log a {
  color: var(--primary-text-color);
}
.Log h1 {
  color: var(--primary-text-color);
  font-size: 60px;
}
