#fourth {
  width: 100%;
  height: 100vh !important;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
}
#fourth h1 {
  color: var(--primary-text-color);
  font-size: 60px;
}
#fourth .coulums {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
#fourth .coulums .Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px 10px;
}
#fourth .coulums .Contact h1 {
  color: var(--primary-text-color);
  font-size: 40px;
}
#fourth .coulums .Contact input {
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 20px;
  border-radius: 20px;
  border-color: orange;
  padding: 15px 200px 12px 10px;
}

#fourth .coulums .Contact button {
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 40px !important;
  border: 1px solid orange;
  outline: none;
  transition: 1s ease-in-out;
  color: var(--primary-text-color);
  background: orange;
}
/* ----------------------------------------------- */
.talk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin: auto;
}
.talk h2 {
  width: 300px;
  color: var(--primary-text-color);
  font-size: 30px;
  border-left: 1px solid orange;
  padding-left: 10px;
}
.talk p {
  color: var(--secondry-text-color);
}
.coulums .talk h1 {
  color: var(--primary-text-color);
  font-size: 40px !important;
}
.coulums .talk .single {
  width: 80%;
}
.coulums .talk .single span {
  width: 50px;
  height: 50px;
}
/* --------------------------------------------- */
.line span {
  border: 1px solid orange;
}
